<nav>
  <ul>
    <link rel="stylesheet" href="assets/style.css">

    <li><a href='../'>Home</a></li>
    <li><a href='/experience'>Experience</a></li>
    <li><a href='/projects'>Projects</a></li>
    <li><a href='/COMP1406'>COMP1406</a></li>
    <li><a href='/MATH1104'>MATH1104</a></li>

    <li><a href='/COMP2804'>COMP2804</a></li>

  </ul>
</nav>
