
  <nav>
<div  class="topnav">
  <ul>

    <li><a href='../'>Home</a></li>
    <li><a href='/Equations'>Equations</a></li>
    <li><a href='/projects'>Projects</a></li>
    <li><a href='/MATH1104'>MATH1104</a></li>
    <li><a href='/STAT2507'>STAT2507</a></li>
    <li><a href='/COMP2804'>COMP2804</a></li>
    <li><a href='/COMP1406'>COMP1406</a></li>
    <li><a href='/PYSC1001'>PYSC1001</a></li>


  </ul>
</div>
</nav>
