<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="assets/style.css">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
</head>



<title>MathJax TeX Test Page</title>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
</head>
<body>
  <%- include('partials/nav', {active: "About"}); %>
  these links <br>
 https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference
  <br>
https://jojozhuang.github.io/blog/2018/09/11/mathjax-cheat-sheet-for-mathematical-notation/
<br>

  $$\begin{bmatrix} a & b \\ c & d \end{bmatrix}$$
  <br>

  This is given by
  $$ \beta $$

 $$ \Sigma^2 $$

 $$ \sum\limits_{i=1}^n i^2 = \frac{n(n+1)(2n+1)}{6}$$

<br>
When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$


x<sup>2</sup>
<br>

$$

{exp(-x^2-y^2)*x};

$$
</body>
</html>
