<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Divyansh Khandelwal</title>
    <link rel="stylesheet" href="assets/style.css">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
</head>

<body>
    <%- include('partials/nav', {active: "About"}); %>


    <div >


    <div  class="sum">
        <p style="font-style: italic;"><q>
          """"Wh
          """"
        </q> </p>
        <h1>NEED MORE THAN 1 CSS FILE</h1>
        <h5>Aspiring video game developer ................</h5>
        <b>Overview</b>
        <p>Hello this is just some bar of text with no grammar detector install
      it is quite annoying having to factor in English rules when I specialize in
    coding not writing  like WTF
        </p>
    </div>


    <div id="projects">
    <h2 id="projects">Some of my Favourite Projects</h2>
    <div class="project1">
      <h3>Starcraft 2 Terran Bot</h3>
      <li><a href="https://github.com/Han-Weng/basicSc2TerranBot">Starcraft2Bot</a></li>
      <p>Basically starcraft 2 is a RTS game, where it goes like this: build stuff,
        make plans, scout and attack.
        I had the most fun with this one, it felt like teaching someone how to
        play a game and watch as he slowly progess from gathering resources and
        training workers to building up a army with researched upgrades and
        coordinating attacks.
        </p>
    </div>

    <div class="project2">
    Nos bureaux sont ouverts du lundi au vendredi de 9h00 à 17h00
    </div>
    <p>The rest can be found on my Github</p>
    <li><a href="https://github.com/Han-Weng">GitHub</a></li>
  </div>

    <h2 id="experiences">The things I learned from working</h2>
    <div class="project1">
      <h3>Kumon Learning </h3>
      <p>asdfsafsafasfasfasdfasdfasdfsdsfsdsdfasfsadf
        asfdsafdsgfdhewcvwtch
        aesv
        </p>
    </div>

</body>

</html>
