<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="assets/style.css">

</head>
<body>
  <%- include('partials/nav', {active: "About"}); %>
  <p>ass</p>

  <p><%= id %></p>


</body>
</html>
