<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="assets/style.css">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
</head>



<title>e</title>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
</head>
<body>
<%- include('partials/nav', {active: "About"}); %>



<h1>Nicolas Aranciba Robert: Francophone, quiet,mono<h1>

<p>TEST 45%
EXAM 50%
TUTORIAL 5%
</p>

<p> <u>Test dates:</u>
<i>01/27:</i> System of Linear Equations
02/24:
03/23:
</p>

<p>
  <h1>Nicolas Aranciba Robert: Francophone, quiet,mono<h1>
Linear systems: have equations with the same variables
<br>
A solution: is when they intersect

<br>
equations that have the same solutions are called equivalent
<br>
matrices are used so that solutions are easier to find
<br>
A linear system has 3 types of solutions

1. No solution
2. 1 solution
3. infinityey many solutions
<br>
Coefficient matrix: consist of the coefficient varible in the equations
<br>
matrix size is how many cols and rows
<br>
augment matrices; 2 matrices appended into one
</p>



</body>

</html>
