<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>

    <link rel="stylesheet" href="assets/style.css">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
</head>

<title>e</title>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
</head>
<body>

  <div  class="text">

<%- include('partials/nav', {active: "About"}); %>


</div>
</body>

</html>
